### 2. Merge

#### take look at all the cleaned dataset in once

In [24]:
import pandas as pd
import copy
collisions_cleaned = pd.read_csv('CleanedData/collisions_cleaned.csv')
intersections_cleaned  = pd.read_csv('CleanedData/intersections_cleaned.csv')
traffic_signals_cleaned  = pd.read_csv('CleanedData/traffic_signals_cleaned.csv')
poles_cleaned  = pd.read_csv('CleanedData/poles_cleaned.csv')
streets_cleaned  = pd.read_csv('CleanedData/streets_cleaned.csv')

In [25]:
collisions = copy.deepcopy(collisions_cleaned)
print("Rows:",len(collisions))
for column in collisions.columns:
    print(f"Column name: {column}, Type: {collisions[column].dtype}")
    #print(f"Unique values: {collisions[column].unique()}")

Rows: 79439
Column name: X, Type: float64
Column name: Y, Type: float64
Column name: ADDRTYPE, Type: object
Column name: SEVERITYCODE, Type: object
Column name: LIGHTCOND, Type: object
Column name: ROADCOND, Type: object
Column name: SPEEDING, Type: object
Column name: UNDERINFL, Type: object
Column name: INATTENTIONIND, Type: object

In [26]:
intersections = copy.deepcopy(intersections_cleaned)
print("Rows:",len(intersections))
for column in intersections.columns:
    print(f"Column name: {column}, Type: {intersections[column].dtype}")
    #print(f"Unique values: {intersections[column].unique()}")

#Arterial classification code:
#5 - Interstate Freeway
#4 - State Highway
#3 - Collector Arterial
#2 - Minor Arterial
#1 - Principal Arterial
#0 - Not Designated (not an arterial)

Rows: 15469
Column name: X, Type: float64
Column name: Y, Type: float64
Column name: UNITDESC, Type: object
Column name: ARTERIALCLASSCD, Type: float64
Column name: SIGNAL_TYPE, Type: object

In [27]:
traffic_signals = copy.deepcopy(traffic_signals_cleaned)
print("Rows:",len(traffic_signals))
for column in traffic_signals.columns:
    print(f"Column name: {column}, Type: {traffic_signals[column].dtype}")
    #print(f"Unique values: {traffic_signals[column].unique()}")

Rows: 1134
Column name: UNITDESC, Type: object
Column name: SIGNAL_TYPE, Type: object
Column name: COMPTYPE, Type: int64
Column name: CONDITION, Type: object
Column name: ARTERIAL_CLASS, Type: float64
Column name: INT_SIGNAL_TYPE_CD, Type: object
Column name: PEDSIGNALYN, Type: object
Column name: PEDAUDIODEVICEYN, Type: object
Column name: PP_QUANTITY, Type: int64
Column name: PH_QUANTITY, Type: int64
Column name: BIKESIGNALHDYN, Type: object
Column name: LTTURNSIGNALYN, Type: object
Column name: RTTURNSIGNALYN, Type: object
Column name: DETDEVSTOPBARYN, Type: object
Column name: DETDEVADVANCEDYN, Type: object
Column name: DETDEVSYSTEMYN, Type: object
Column name: NUM_ATTACHMENTS, Type: int64

In [28]:
poles = copy.deepcopy(poles_cleaned)
print("Rows:",len(poles))
for column in poles.columns:
    print(f"Column name: {column}, Type: {poles[column].dtype}")
    #print(f"Unique values: {poles[column].unique()}")

Rows: 112427
Column name: Unnamed: 0, Type: int64
Column name: X, Type: float64
Column name: Y, Type: float64
Column name: HEIGHT, Type: int64
Column name: STREETLIGHT, Type: object

In [29]:
streets = copy.deepcopy(streets_cleaned)
print("Rows:",len(streets))
for column in streets.columns:
    print(f"Column name: {column}, Type: {streets[column].dtype}")
    #print(f"Unique values: {streets[column].unique()}")

Rows: 23721
Column name: Unnamed: 0, Type: int64
Column name: UNITDESC, Type: object
Column name: STNAME_ORD, Type: object
Column name: XSTRLO, Type: object
Column name: XSTRHI, Type: object
Column name: ARTCLASS, Type: float64
Column name: SPEEDLIMIT, Type: float64
Column name: SURFACETYPE_1, Type: object
Column name: PVMTCONDINDX1, Type: float64
Column name: PVMTCONDINDX2, Type: float64
Column name: TRANCLASS, Type: int64
Column name: SLOPE_PCT, Type: float64
Column name: SHAPE_Length, Type: float64

####  Some data visualization

In [ ]:
import folium
# plot all 15469 intersections
streetlights = poles[poles['STREETLIGHT'] == 'YES']

seattle_coordinates = (47.6062, -122.3321)
m = folium.Map(location=seattle_coordinates, zoom_start=12)


for index, row in intersections.iterrows():
    folium.Circle(
        location=[row['Y'], row['X']], 
        radius=15, 
        color='blue', 
        fill=0, 
        fill_color='blue', 
        fill_opacity=0.3, 
    ).add_to(m)

#plot all collision points
for index, row in collisions.iterrows():
    folium.CircleMarker(
        location=[row['Y'], row['X']],
        radius=2,  
        color='red',  
        fill=True,
        fill_color='red', 
        fill_opacity=1, 
    ).add_to(m)

#plot all poles points
for index, row in streetlights.iterrows():
    folium.CircleMarker(
        location=[row['Y'], row['X']],
        radius=2,  
        color='yellow',  
        fill=True,
        fill_color='yellow', 
        fill_opacity=1, 
    ).add_to(m)

m

In [ ]:
#Some formulas
import pandas as pd
from rtree import index
import math 
from IPython.display import display, clear_output

def haversine(lat1, lon1, lat2, lon2):
    # 将十进制度数转换为弧度
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

    # Haversine公式
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.asin(math.sqrt(a))

    # 地球半径 (单位: 米)
    earth_radius = 6371000
    distance = earth_radius * c
    return distance

def is_point_in_circle(latitude, longitude, center_latitude, center_longitude, radius):
    distance = haversine(latitude, longitude, center_latitude, center_longitude)
    return distance <= radius

def count_collisions(row, idx, collisions, radius):
    global progress_counter
    progress_counter += 1
    clear_output(wait=True)
    display(f"Progress: {progress_counter}/15469")
    
    center_latitude = row['Y']
    center_longitude = row['X']
    nearby_points = list(idx.intersection((center_longitude - radius, center_latitude - radius, center_longitude + radius, center_latitude + radius)))
    count = 0
    
    for point_idx in nearby_points:
        latitude = collisions.at[point_idx, 'Y']
        longitude = collisions.at[point_idx, 'X']
        if is_point_in_circle(latitude, longitude, center_latitude, center_longitude, radius):
            count += 1
    return count

### Merge Collision and Intersection

In [22]:
radius = 15
progress_counter = 0
idx = index.Index()
for i, row in collisions.iterrows():
    idx.insert(i, (row['X'], row['Y'], row['X'], row['Y']))

intersections_collision['collision_count'] = intersections.apply(lambda row: count_collisions(row, idx, collisions, radius), axis=1)

'Progress: 15469/15469'

In [23]:
intersections_collision.to_csv("MergedData/intersections_collisions.csv", index=False)
intersections_collision.head(10)

,X,Y,UNITDESC,ARTERIALCLASSCD,SIGNAL_TYPE,collision_count
0,-122.329732,47.523051,4TH AVE S AND S HENDERSON N ST,0.0,NONE,0
1,-122.371401,47.692058,12TH AVE NW AND NW 87TH ST,0.0,NONE,0
2,-122.289176,47.617639,34TH AVE AND E HOWELL ST,3.0,NONE,0
3,-122.320648,47.674000,NE 63RD ST AND NE RAVENNA EB BV,1.0,NONE,1
4,-122.263468,47.547165,WILSON AVE S AND S UPLAND RD,2.0,NONE,1
5,-122.360652,47.684740,3RD AVE NW AND NW 77TH ST,3.0,NONE,6
6,-122.305361,47.695749,RAVENNA AVE NE AND NE 92ND ST,1.0,NONE,14
7,-122.286434,47.599643,LAKESIDE UPPER AVE S AND S LESCHI PL,0.0,NONE,2
8,-122.280735,47.537049,42ND AVE S AND S OTHELLO ST,2.0,NONE,10
9,-122.296116,47.618899,M L KING JR WAY AND E DENNY WAY,3.0,NONE,19

### Merge with ploes

In [34]:
intersections_collision = pd.read_csv('MergedData/intersections_collisions.csv')
streetlights = poles[poles['STREETLIGHT'] == 'YES']

In [ ]:
radius = 15
progress_counter = 0
streetlights_counts = []
streetlights_height_avgs = []

for index, row in intersections_collision.iterrows():
    center_latitude = row['Y']
    center_longitude = row['X']

    streetlights_within_radius = []
    
    progress_counter += 1
    clear_output(wait=True)
    display(f"Progress: {progress_counter}/15469")
    
    for _, streetlight in streetlights.iterrows():
        latitude = streetlight['Y']
        longitude = streetlight['X']

        if is_point_in_circle(latitude, longitude, center_latitude, center_longitude, radius):
            streetlights_within_radius.append(streetlight)

    streetlights_count = len(streetlights_within_radius)
    streetlights_counts.append(streetlights_count)

    streetlights_height_sum = sum([streetlight['HEIGHT'] for streetlight in streetlights_within_radius])
    streetlights_height_avg = streetlights_height_sum / streetlights_count if streetlights_count > 0 else 0
    streetlights_height_avgs.append(streetlights_height_avg)

'Progress: 1240/15469'

In [11]:
intersections_collision_streetlights = intersections_collision
intersections_collision_streetlights['streetlights'] = poles_counts
intersections_collision_streetlights['streetlights_height_avg'] = streetlights_height_avgs

intersections_collision_streetlights.to_csv("MergedData/intersections_collision_streetlights.csv", index=False)
intersections_collision_streetlights.head(10)

,X,Y,UNITDESC,ARTERIALCLASSCD,SIGNAL_TYPE,collision_count,poles,poles_height_avg
0,-122.329732,47.523051,4TH AVE S AND S HENDERSON N ST,0.0,NONE,0,0,0.000000
1,-122.371401,47.692058,12TH AVE NW AND NW 87TH ST,0.0,NONE,0,2,40.000000
2,-122.289176,47.617639,34TH AVE AND E HOWELL ST,3.0,NONE,0,4,45.000000
3,-122.320648,47.674000,NE 63RD ST AND NE RAVENNA EB BV,1.0,NONE,1,1,0.000000
4,-122.263468,47.547165,WILSON AVE S AND S UPLAND RD,2.0,NONE,1,2,40.000000
5,-122.360652,47.684740,3RD AVE NW AND NW 77TH ST,3.0,NONE,6,1,50.000000
6,-122.305361,47.695749,RAVENNA AVE NE AND NE 92ND ST,1.0,NONE,14,0,0.000000
7,-122.286434,47.599643,LAKESIDE UPPER AVE S AND S LESCHI PL,0.0,NONE,2,1,55.000000
8,-122.280735,47.537049,42ND AVE S AND S OTHELLO ST,2.0,NONE,10,3,35.333333
9,-122.296116,47.618899,M L KING JR WAY AND E DENNY WAY,3.0,NONE,19,1,55.000000

In [9]:
intersections_collision_streetlights = pd.read_csv('MergedData/intersections_collision_streetlights.csv')
#check how many different data values of poles_height_avg in intersections_collision_streetlights
unique_values = intersections_collision_poles['streetlights_height_avg'].nunique()
print(f'streetlights_height_avg has {unique_values} unique data value。')

UNITDESC has 290 unique data value。

### Merge with streets

In [19]:
streets = copy.deepcopy(streets_cleaned)
print("Rows:",len(streets))
for column in streets.columns:
    print(f"Column name: {column}, Type: {streets[column].dtype}")
    #print(f"Unique values: {streets[column].unique()}")

Rows: 23721
Column name: Unnamed: 0, Type: int64
Column name: UNITDESC, Type: object
Column name: STNAME_ORD, Type: object
Column name: XSTRLO, Type: object
Column name: XSTRHI, Type: object
Column name: ARTCLASS, Type: float64
Column name: SPEEDLIMIT, Type: float64
Column name: SURFACETYPE_1, Type: object
Column name: PVMTCONDINDX1, Type: float64
Column name: PVMTCONDINDX2, Type: float64
Column name: TRANCLASS, Type: int64
Column name: SLOPE_PCT, Type: float64
Column name: SHAPE_Length, Type: float64

In [20]:
streets.head(10)

,Unnamed: 0,UNITDESC,STNAME_ORD,XSTRLO,XSTRHI,ARTCLASS,SPEEDLIMIT,SURFACETYPE_1,PVMTCONDINDX1,PVMTCONDINDX2,TRANCLASS,SLOPE_PCT,SHAPE_Length
0,0,1ST AVE BETWEEN SENECA ST AND UNIVERSITY ST,1ST AVE,SENECA ST,UNIVERSITY ST,2.0,25.0,PCC,87.0,62.0,1,4.0,305.966050
1,1,1ST AVE BETWEEN PIKE ST AND PINE ST,1ST AVE,PIKE ST,PINE ST,2.0,25.0,AC/PCC,57.0,58.0,1,5.0,426.031562
2,2,1ST AVE N BETWEEN VALLEY UPPER ST AND ALOHA ST,1ST AVE N,VALLEY UPPER ST,ALOHA ST,0.0,20.0,PCC,0.0,0.0,0,17.0,297.147592
3,3,1ST AVE N BETWEEN LYNN ST AND MCGRAW S ST,1ST AVE N,LYNN ST,MCGRAW S ST,0.0,20.0,AC,9.0,0.0,0,3.0,174.804983
4,4,1ST AVE N BETWEEN FULTON S ST AND FULTON N ST,1ST AVE N,FULTON S ST,FULTON N ST,0.0,20.0,PCC,0.0,0.0,0,5.0,73.110708
5,5,1ST AVE NE BETWEEN NE 60TH ST AND NE 61ST ST,1ST AVE NE,NE 60TH ST,NE 61ST ST,0.0,20.0,PCC,92.0,0.0,0,3.0,212.585996
6,6,1ST AVE NE BETWEEN N 122ND ST AND CORLISS S AVE N,1ST AVE NE,N 122ND ST,CORLISS S AVE N,3.0,25.0,ST,36.0,0.0,3,2.0,837.063532
7,7,1ST AVE NW BETWEEN N 42ND E ST AND NW 43RD ST,1ST AVE NW,N 42ND E ST,NW 43RD ST,0.0,20.0,PCC,65.0,0.0,0,5.0,677.122040
8,8,1ST AVE NW BETWEEN NW 53RD ST AND N 54TH ST,1ST AVE NW,NW 53RD ST,N 54TH ST,0.0,20.0,PCC,61.0,0.0,0,0.0,152.414888
9,9,1ST AVE NW BETWEEN NW 65TH ST AND NW 67TH ST,1ST AVE NW,NW 65TH ST,NW 67TH ST,0.0,20.0,PCC,48.0,0.0,0,2.0,649.833791

In [16]:
intersections_collision_poles = pd.read_csv('MergedData/intersections_collision_poles.csv')
intersections_collision_poles.head(10)

,X,Y,UNITDESC,ARTERIALCLASSCD,SIGNAL_TYPE,collision_count,poles,poles_height_avg
0,-122.329732,47.523051,4TH AVE S AND S HENDERSON N ST,0.0,NONE,0,0,0.000000
1,-122.371401,47.692058,12TH AVE NW AND NW 87TH ST,0.0,NONE,0,2,40.000000
2,-122.289176,47.617639,34TH AVE AND E HOWELL ST,3.0,NONE,0,4,45.000000
3,-122.320648,47.674000,NE 63RD ST AND NE RAVENNA EB BV,1.0,NONE,1,1,0.000000
4,-122.263468,47.547165,WILSON AVE S AND S UPLAND RD,2.0,NONE,1,2,40.000000
5,-122.360652,47.684740,3RD AVE NW AND NW 77TH ST,3.0,NONE,6,1,50.000000
6,-122.305361,47.695749,RAVENNA AVE NE AND NE 92ND ST,1.0,NONE,14,0,0.000000
7,-122.286434,47.599643,LAKESIDE UPPER AVE S AND S LESCHI PL,0.0,NONE,2,1,55.000000
8,-122.280735,47.537049,42ND AVE S AND S OTHELLO ST,2.0,NONE,10,3,35.333333
9,-122.296116,47.618899,M L KING JR WAY AND E DENNY WAY,3.0,NONE,19,1,55.000000

In [6]:
#check how many different data values of UNITDESC in streets
unique_values = streets['UNITDESC'].nunique()
print(f'UNITDESC has {unique_values} unique data value。')

UNITDESC has 23743 unique data value。

In [8]:
#check how many different data values of UNITDESC in intersections_collision_poles
unique_values = intersections_collision_poles['UNITDESC'].nunique()
print("intersections_collision_poles has rows:", len(intersections_collision_poles))
print(f'UNITDESC has {unique_values} unique data value。')

intersections_collision_poles has rows: 15469
UNITDESC has 15468 unique data value。

In [ ]:
#todo
streets
intersections_collision_poles

In [21]:
# merge