In [24]:
import pandas as pd
import copy
collisions_raw = pd.read_csv('data/SDOT_Collisions_-_All_Years.csv', low_memory=False)
intersections_raw = pd.read_csv('data/Intersections.csv')
traffic_signals_raw = pd.read_csv('data/Traffic_Signals.csv')
poles_raw = pd.read_csv('data/Seattle_City_Light_Poles.csv')
streets_raw = pd.read_csv('data/Seattle_Streets.csv')
signs_raw = pd.read_csv('data/Street_Signs.csv', low_memory=False)

In [4]:
collisions_raw.head(3)

,X,Y,OBJECTID,INCKEY,COLDETKEY,ADDRTYPE,COLLISIONTYPE,EXCEPTRSNCODE,EXCEPTRSNDESC,FATALITIES,...,MODBY,MODDTTM,ST_PARTCPNT_TYPE,ST_PARTCPNT_TYPE_DESC,ST_AGE,ST_CITED,ST_VEH_TYPE_CD,ST_VEH_TYPE_DESC,ST_INJRY_CLSS_DESC,GlobalID
0,-122.337544,47.606122,1,343654,345154,Intersection,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a884beac-dbdb-415d-aad2-491b223e1be6
1,-122.305737,47.696230,2,349795,351275,Intersection,Rear Ended,NaN,NaN,0,...,STATE INTERFACE,2022/08/03 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152007b0-7968-460a-9e9c-60d4a995e009
2,-122.365903,47.519193,3,343623,345123,Intersection,Other,NaN,NaN,0,...,STATE INTERFACE,2022/05/11 00:00:00+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3441c2be-fcaf-460a-8526-e5bcba549c43

In [215]:
intersections_raw.head(3)

,X,Y,OBJECTID,INTR_ID,GIS_XCOORD,GIS_YCOORD,COMPKEY,COMPTYPE,UNITID,SUBAREA,UNITDESC,ARTERIALCLASSCD,SIGNAL_MAINT_DIST,SIGNAL_TYPE,SHAPE_LNG,SHAPE_LAT,GlobalID
0,-122.329732,47.523051,1,18213,1.270709e+06,194387.95532,340313,13,78852,GRDWM,4TH AVE S AND S HENDERSON N ST,0.0,,NONE,-122.329732,47.523051,{131F1B2A-24C8-4CE8-BC3F-B782886C5B05}
1,-122.371401,47.692058,2,4716,1.261648e+06,256226.49721,37264,13,231740,BLRD,12TH AVE NW AND NW 87TH ST,0.0,,NONE,-122.371401,47.692058,{548699BC-E857-4144-BCE9-780682AB3918}
2,-122.289176,47.617639,3,11483,1.281381e+06,228692.21187,30231,13,42513,CNTRL,34TH AVE AND E HOWELL ST,3.0,,NONE,-122.289176,47.617639,{6BE86534-31C1-4073-83E8-1376972B6844}

In [216]:
traffic_signals_raw.head(3)

,OBJECTID,COMPKEY,COMPTYPE,UNITID,DESCRIPTION,UNITDESC,SEGKEY,INTKEY,INT_UNITID,SIGNAL_TYPE,...,PE_MODELTYPE,PI_MODELTYPE,INSTALLERCD,JOINTOWNERSHIPYN,CO_MODELTYPE,MMUMANCD,MMUINSTALLDT,LASTSIGNALOPTDT,PEDPSHINSTALLDT,NUM_ATTACHMENTS
0,1,272766,74,SGL-93,NaN,4TH AVE AND PINE ST ...,1,29579,39304,PRE,...,NaN,NaN,,Y,"M34, M60-ATC, M60, M60",EDI,2022/03/12 00:00:00+00,NaN,NaN,0
1,2,272780,74,SGL-26,NaN,5TH AVE S AND S MAIN ST ...,1,30501,44533,PRE,...,NaN,NaN,,Y,"M34, , M60-ATC",TCT,2022/03/16 00:00:00+00,NaN,NaN,0
2,3,272795,74,SGL-950,NaN,23RD AVE AND E ALDER ST ...,1,30102,41362,SEMI,...,NaN,NaN,SDOT,N,"M34, M34, M52",EDI,2022/04/28 00:00:00+00,NaN,2016/03/10 00:00:00+00,0

In [217]:
poles_raw.head(3)

,X,Y,OBJECTID,ASSET_ID,HEIGHT,STREETLIGHT,SCL_SOURCE,PULLDATE,DDLAT,DDLON,FACILITY_NAME
0,-122.358591,47.628758,1,1406079.0,19,YES,Distribution,2018/12/04 00:00:00+00,47.62876,-122.35859,005NEO150
1,-122.359814,47.632261,2,1350215.0,35,NO,Distribution,2018/12/04 00:00:00+00,47.63226,-122.35981,005NEO134
2,-122.363536,47.626674,3,1350124.0,35,NO,Distribution,2018/12/04 00:00:00+00,47.62667,-122.36354,005NEO459

In [218]:
streets_raw.head(3)

,OBJECTID,ARTCLASS,COMPKEY,UNITID,UNITID2,UNITIDSORT,UNITDESC,STNAME_ORD,XSTRLO,XSTRHI,...,NATIONHWYSYS,STREETTYPE,PVMTCONDINDX1,PVMTCONDINDX2,TRANCLASS,TRANDESCRIPT,SLOPE_PCT,PVMTCATEGORY,PARKBOULEVARD,SHAPE_Length
0,1,2.0,1006,10.0,120.0,100120.0,1ST AVE BETWEEN SENECA ST AND UNIVERSITY ST,1ST AVE,SENECA ST,UNIVERSITY ST,...,N,Downtown Neighborhood,87.0,62.0,1,PRINCIPAL TRANSIT ROUTE,4.0,ART,N,305.966050
1,2,2.0,1009,10.0,150.0,100150.0,1ST AVE BETWEEN PIKE ST AND PINE ST,1ST AVE,PIKE ST,PINE ST,...,N,Downtown Neighborhood,57.0,58.0,1,PRINCIPAL TRANSIT ROUTE,5.0,ART,N,426.031562
2,3,0.0,1032,15.0,80.0,150080.0,1ST AVE N BETWEEN VALLEY UPPER ST AND ALOHA ST,1ST AVE N,VALLEY UPPER ST,ALOHA ST,...,N,Neighborhood Yield Street,0.0,0.0,0,NOT DESIGNATED,17.0,NON-ART,N,297.147592

In [26]:
signs_raw.head(3)

,X,Y,OBJECTID,COMPKEY,COMPTYPE,SEGKEY,INTKEY,ELMNTKEY,DISTANCE,WIDTH,...,MODDTTM,INSTDATE,EXPDATE,PRIMARYDISTRICTCD,SECONDARYDISTRICTCD,OVERRIDEYN,OVERRIDECOMMENT,SHAPE_LNG,SHAPE_LAT,MODBY
0,-122.360703,47.625603,1,846432,20,4544,1,72481,367.0,20.0,...,2022/02/22 00:00:00+00,NaN,NaN,DISTRICT7,,N,NaN,-122.360703,47.625603,CHOIE
1,-122.323753,47.612724,2,846211,20,9372,1,54609,259.0,26.0,...,2022/02/16 00:00:00+00,NaN,NaN,DISTRICT3,,N,NaN,-122.323753,47.612724,LEIFIJ
2,-122.362077,47.623343,3,841363,20,23696,1,68773,33.0,-17.0,...,2021/10/25 00:00:00+00,2021/10/06 00:00:00+00,NaN,DISTRICT7,,N,NaN,-122.362077,47.623343,CHOIE

# I. Data Cleaning

### The overall strategy of Data Cleanning to make the Intersection inner join with collision as base, and add features to it.

#### 1. Make all dataset minimum, and then check NAs

#### Intersections

In [219]:
# for intersections
intersections = copy.deepcopy(intersections_raw)
intersections = intersections[["X", "Y", "UNITDESC","ARTERIALCLASSCD","SIGNAL_TYPE"]]
intersections.head(3)

,X,Y,UNITDESC,ARTERIALCLASSCD,SIGNAL_TYPE
0,-122.329732,47.523051,4TH AVE S AND S HENDERSON N ST,0.0,NONE
1,-122.371401,47.692058,12TH AVE NW AND NW 87TH ST,0.0,NONE
2,-122.289176,47.617639,34TH AVE AND E HOWELL ST,3.0,NONE

In [220]:
print("Total Rows:",len(intersections))
for column in intersections.columns:
    print(column, "Rows:", len(intersections[column].dropna()), "NAs:", len(intersections[column])-len(intersections[column].dropna()))

Total Rows: 15469
X Rows: 15469 NAs: 0
Y Rows: 15469 NAs: 0
UNITDESC Rows: 15469 NAs: 0
ARTERIALCLASSCD Rows: 15454 NAs: 15
SIGNAL_TYPE Rows: 15469 NAs: 0

In [221]:
# Checkout ARTERIALCLASSCD
#Check what are the unique data store in INATTENTIONIND
unique_values = intersections["ARTERIALCLASSCD"].unique()
print("Unique values in ARTERIALCLASSCD column:", unique_values)

Unique values in ARTERIALCLASSCD column: [ 0.  3.  1.  2. nan  5.  4.]

In [222]:
# change all NAN to 0.0
intersections["ARTERIALCLASSCD"].fillna(0.0, inplace=True)
unique_values = intersections["ARTERIALCLASSCD"].unique()
print("Unique values in ARTERIALCLASSCD column:", unique_values)

Unique values in ARTERIALCLASSCD column: [0. 3. 1. 2. 5. 4.]

In [223]:
#Take look at cleaned intersections
print("Total Rows:",len(intersections))
for column in intersections.columns:
    print(column, "Rows:", len(intersections[column].dropna()), "NAs:", len(intersections[column])-len(intersections[column].dropna()))

Total Rows: 15469
X Rows: 15469 NAs: 0
Y Rows: 15469 NAs: 0
UNITDESC Rows: 15469 NAs: 0
ARTERIALCLASSCD Rows: 15469 NAs: 0
SIGNAL_TYPE Rows: 15469 NAs: 0

#### collisions

In [224]:
# for collisions
# Select useful columns
collisions = copy.deepcopy(collisions_raw)
collisions = collisions[["X", "Y","ADDRTYPE","COLLISIONTYPE","SEVERITYCODE",
                         "LIGHTCOND","ROADCOND",#environments
                         "SPEEDING","UNDERINFL","INATTENTIONIND"]]#Driver
#UNDERINFL: Whether or not a driver involved was under the influence of drugs or alcohol. 
#INATTENTIONIND: Whether or not collision was due to inattention. (Y/N) 
collisions.head(3)

,X,Y,ADDRTYPE,COLLISIONTYPE,SEVERITYCODE,LIGHTCOND,ROADCOND,SPEEDING,UNDERINFL,INATTENTIONIND
0,-122.337544,47.606122,Intersection,NaN,0,NaN,NaN,NaN,NaN,NaN
1,-122.305737,47.696230,Intersection,Rear Ended,1,Daylight,Dry,Y,N,NaN
2,-122.365903,47.519193,Intersection,Other,2,Daylight,Dry,NaN,N,NaN

In [225]:
print("Total Rows:",len(collisions))
for column in collisions.columns:
    print(column, "Rows:", len(collisions[column].dropna()), "NAs:", len(collisions[column])-len(collisions[column].dropna()))

Total Rows: 241237
X Rows: 233364 NAs: 7873
Y Rows: 233364 NAs: 7873
ADDRTYPE Rows: 237350 NAs: 3887
COLLISIONTYPE Rows: 209137 NAs: 32100
SEVERITYCODE Rows: 241236 NAs: 1
LIGHTCOND Rows: 208806 NAs: 32431
ROADCOND Rows: 209012 NAs: 32225
SPEEDING Rows: 10873 NAs: 230364
UNDERINFL Rows: 209155 NAs: 32082
INATTENTIONIND Rows: 30615 NAs: 210622

In [226]:
#Select useful rows
#Only Interested in ADDRTYPE == Intersection
collisions = collisions[collisions["ADDRTYPE"] == "Intersection"]

print("Total Rows:",len(collisions))
for column in collisions.columns:
    print(column, "Rows:", len(collisions[column].dropna()), "NAs:", len(collisions[column])-len(collisions[column].dropna()))

Total Rows: 79829
X Rows: 79439 NAs: 390
Y Rows: 79439 NAs: 390
ADDRTYPE Rows: 79829 NAs: 0
COLLISIONTYPE Rows: 72126 NAs: 7703
SEVERITYCODE Rows: 79828 NAs: 1
LIGHTCOND Rows: 72064 NAs: 7765
ROADCOND Rows: 72108 NAs: 7721
SPEEDING Rows: 2403 NAs: 77426
UNDERINFL Rows: 72140 NAs: 7689
INATTENTIONIND Rows: 7768 NAs: 72061

In [227]:
#Check what are the unique data store in INATTENTIONIND
unique_values = collisions["INATTENTIONIND"].unique()
print("Unique values in INATTENTIONIND column:", unique_values)

Unique values in INATTENTIONIND column: [nan 'Y']

In [228]:
# There are not 'N' in INATTENTIONIND, change all NAN to "N"
collisions["INATTENTIONIND"].fillna("N", inplace=True)
unique_values = collisions["INATTENTIONIND"].unique()
print("Unique values in INATTENTIONIND column:", unique_values)

Unique values in INATTENTIONIND column: ['N' 'Y']

In [229]:
#Check what are the unique data store in UNDERINFL
unique_values = collisions["UNDERINFL"].unique()
print("Unique values in UNDERINFL column:", unique_values)

Unique values in UNDERINFL column: [nan 'N' '0' '1' 'Y']

In [230]:
# change all NAN and '0' to "N", change all '1' to 'Y' 
collisions["UNDERINFL"].replace({pd.NA: "N", '0': "N"}, inplace=True)
collisions["UNDERINFL"].replace({'1': "Y"}, inplace=True)

unique_values = collisions["UNDERINFL"].unique()
print("Unique values in UNDERINFL column:", unique_values)

Unique values in UNDERINFL column: ['N' 'Y']

In [231]:
# Sampe process with speeding
unique_values = collisions["SPEEDING"].unique()
print("Unique values in SPEEDING column:", unique_values)

Unique values in SPEEDING column: [nan 'Y']

In [232]:
collisions["SPEEDING"].fillna("N", inplace=True)
unique_values = collisions["SPEEDING"].unique()
print("Unique values in SPEEDING column:", unique_values)

Unique values in SPEEDING column: ['N' 'Y']

In [233]:
# Sampe process with ROADCOND
unique_values = collisions["ROADCOND"].unique()
print("Unique values in ROADCOND column:", unique_values)

Unique values in ROADCOND column: [nan 'Dry' 'Wet' 'Unknown' 'Ice' 'Snow/Slush' 'Other' 'Oil'
 'Standing Water' 'Sand/Mud/Dirt']

In [234]:
# change all NAN to "Unknown" 
collisions["ROADCOND"].fillna("Unknown", inplace=True)
unique_values = collisions["ROADCOND"].unique()
print("Unique values in ROADCOND column:", unique_values)

Unique values in ROADCOND column: ['Unknown' 'Dry' 'Wet' 'Ice' 'Snow/Slush' 'Other' 'Oil' 'Standing Water'
 'Sand/Mud/Dirt']

In [235]:
# Sampe process with LIGHTCOND
unique_values = collisions["LIGHTCOND"].unique()
print("Unique values in LIGHTCOND column:", unique_values)

Unique values in LIGHTCOND column: [nan 'Daylight' 'Dark - Street Lights On' 'Dark - Unknown Lighting' 'Dusk'
 'Unknown' 'Dark - Street Lights Off' 'Dawn' 'Dark - No Street Lights'
 'Other']

In [236]:
# change all NAN to "Unknown" 
collisions["LIGHTCOND"].fillna("Unknown", inplace=True)
unique_values = collisions["LIGHTCOND"].unique()
print("Unique values in LIGHTCOND column:", unique_values)

Unique values in LIGHTCOND column: ['Unknown' 'Daylight' 'Dark - Street Lights On' 'Dark - Unknown Lighting'
 'Dusk' 'Dark - Street Lights Off' 'Dawn' 'Dark - No Street Lights'
 'Other']

In [237]:
# Sampe process with SEVERITYCODE
unique_values = collisions["SEVERITYCODE"].unique()
print("Unique values in SEVERITYCODE column:", unique_values)

Unique values in SEVERITYCODE column: ['0' '1' '2' '2b' '3' nan]

In [238]:
# change all NAN to "0" 
collisions["SEVERITYCODE"].fillna("0", inplace=True)
unique_values = collisions["SEVERITYCODE"].unique()
print("Unique values in SEVERITYCODE column:", unique_values)

Unique values in SEVERITYCODE column: ['0' '1' '2' '2b' '3']

In [239]:
# Sampe process with COLLISIONTYPE
unique_values = collisions["COLLISIONTYPE"].unique()
print("Unique values in COLLISIONTYPE column:", unique_values)

Unique values in COLLISIONTYPE column: [nan 'Rear Ended' 'Other' 'Angles' 'Cycles' 'Left Turn' 'Right Turn'
 'Sideswipe' 'Pedestrian' 'Parked Car' 'Head On']

In [240]:
# Since COLLISIONTYPE is not our concern and it contains NAs, I decided to drop this col
collisions.drop("COLLISIONTYPE", axis=1, inplace=True)

In [241]:
# For X and Y, there are 390 NAs,just get rid of those rows
collisions.dropna(subset=["X", "Y"], inplace=True)

In [242]:
# take look at the cleaned collisions
print("Total Rows:",len(collisions))
for column in collisions.columns:
    print(column, "Rows:", len(collisions[column].dropna()), "NAs:", len(collisions[column])-len(collisions[column].dropna()))

Total Rows: 79439
X Rows: 79439 NAs: 0
Y Rows: 79439 NAs: 0
ADDRTYPE Rows: 79439 NAs: 0
SEVERITYCODE Rows: 79439 NAs: 0
LIGHTCOND Rows: 79439 NAs: 0
ROADCOND Rows: 79439 NAs: 0
SPEEDING Rows: 79439 NAs: 0
UNDERINFL Rows: 79439 NAs: 0
INATTENTIONIND Rows: 79439 NAs: 0

#### traffic_signals

In [254]:
# for traffic_signals
traffic_signals = copy.deepcopy(traffic_signals_raw)
print(len(traffic_signals_raw))

1134

In [255]:
traffic_signals = traffic_signals[["UNITDESC",
                                   "SIGNAL_TYPE","COMPTYPE","CONDITION",
                                  "ARTERIAL_CLASS","INT_SIGNAL_TYPE_CD",
                                  "PEDSIGNALYN", 'PEDAUDIODEVICEYN', 
                                   'PP_QUANTITY', 'PH_QUANTITY', 'BIKESIGNALHDYN',
                                    'LTTURNSIGNALYN', 'RTTURNSIGNALYN', 
                                   'DETDEVSTOPBARYN', 'DETDEVADVANCEDYN', 
                                   'DETDEVSYSTEMYN',
                                    'NUM_ATTACHMENTS']]

# rows 
# UNITDESC: Structured description of the Signal location
# COMPTYPE: The type of traffic signal component (e.g., control box, pedestrian signal, etc.).
# CONDITION: Condition-based on SDOTâ€™s signal engineerâ€™s assessments (good, fair, poor)
# ARTERIAL_CLASS: Arterial classification of the street segment
# INT_SIGNAL_TYPE_CD: Intersection signal type code
# PEDSIGNALYN: Pedestrian Signal
# PEDAUDIODEVICEYN: Existence of Ped Audio Device
# PP_QUANTITY: The number of pedestrian pushbuttons at the intersection.
# PH_QUANTITY: Quantity of each type of Ped Signal Display at the intersection
# BIKESIGNALHDYN: Indicates whether the intersection has a bicycle signal head.
# LTTURNSIGNALYN, RTTURNSIGNALYN: Indicates whether the intersection has left-turn and right-turn signal heads, respectively.
# DETDEVSTOPBARYN, DETDEVADVANCEDYN, DETDEVSYSTEMYN: These columns may indicate whether the intersection has detection devices for stop bars, advanced detection, and system detection, respectively.
# NUM_ATTACHMENTS: The number of attachments (e.g., equipment or devices) associated with the traffic signal infrastructure.

traffic_signals.head(3)

,UNITDESC,SIGNAL_TYPE,COMPTYPE,CONDITION,ARTERIAL_CLASS,INT_SIGNAL_TYPE_CD,PEDSIGNALYN,PEDAUDIODEVICEYN,PP_QUANTITY,PH_QUANTITY,BIKESIGNALHDYN,LTTURNSIGNALYN,RTTURNSIGNALYN,DETDEVSTOPBARYN,DETDEVADVANCEDYN,DETDEVSYSTEMYN,NUM_ATTACHMENTS
0,4TH AVE AND PINE ST ...,PRE,74,FAIR,1.0,CITY,N,N,NaN,8,Y,N,N,N,N,N,0
1,5TH AVE S AND S MAIN ST ...,PRE,74,FAIR,2.0,CITY,N,N,0,8,N,N,N,N,N,N,0
2,23RD AVE AND E ALDER ST ...,SEMI,74,POOR,1.0,HALFPED,Y,N,2,2,N,N,N,N,N,N,0

In [256]:
# take look at the traffic_signals
print("Total Rows:",len(traffic_signals))
for column in traffic_signals.columns:
    print(column, "Rows:", len(traffic_signals[column].dropna()), "NAs:", len(traffic_signals[column])-len(traffic_signals[column].dropna()))

Total Rows: 1134
UNITDESC Rows: 1134 NAs: 0
SIGNAL_TYPE Rows: 1134 NAs: 0
COMPTYPE Rows: 1134 NAs: 0
CONDITION Rows: 1134 NAs: 0
ARTERIAL_CLASS Rows: 1120 NAs: 14
INT_SIGNAL_TYPE_CD Rows: 1134 NAs: 0
PEDSIGNALYN Rows: 1134 NAs: 0
PEDAUDIODEVICEYN Rows: 1134 NAs: 0
PP_QUANTITY Rows: 865 NAs: 269
PH_QUANTITY Rows: 1013 NAs: 121
BIKESIGNALHDYN Rows: 1134 NAs: 0
LTTURNSIGNALYN Rows: 1134 NAs: 0
RTTURNSIGNALYN Rows: 1134 NAs: 0
DETDEVSTOPBARYN Rows: 1134 NAs: 0
DETDEVADVANCEDYN Rows: 1134 NAs: 0
DETDEVSYSTEMYN Rows: 1134 NAs: 0
NUM_ATTACHMENTS Rows: 1134 NAs: 0

In [257]:
# take look into ARTERIAL_CLASS
unique_values = traffic_signals["ARTERIAL_CLASS"].unique()
print("Unique values in ARTERIAL_CLASS column:", unique_values)

Unique values in ARTERIAL_CLASS column: [ 1.  2. nan  3.  0.  4.]

In [258]:
# change all NAN to "0" 
traffic_signals["ARTERIAL_CLASS"].fillna(0.0, inplace=True)
unique_values = traffic_signals["ARTERIAL_CLASS"].unique()
print("Unique values in ARTERIAL_CLASS column:", unique_values)

Unique values in ARTERIAL_CLASS column: [1. 2. 0. 3. 4.]

In [259]:
# take look into ARTERIAL_CLASS
unique_values = traffic_signals["PP_QUANTITY"].unique()
print("Unique values in PP_QUANTITY column:", unique_values)

Unique values in PP_QUANTITY column: [nan '0' '2' '8' '4' '2, 2' '6' '9' '10' '8, 0' '2, 4' '4, 0' '3' '8, 8'
 '12' '5' '11' '4, 8' '4, 6' '2, 1' '8, 2, 0' '4, 10' '1, 8' '6, 6' '9, 8'
 '7' '2, 5' '4, 4' '10, 2' '4, 8, 6' '1, 3' '2, 8' '1, 1, 6' '6, 8' '8, 1'
 '1, 2' '5, 8' '2, 0' '2, 6' '0, 4' '6, 2' '6, 1' '4, 1' '1, 10' '5, 2'
 '4, 3, 8' '8, 5' '7, 1' '4, 2' '4, 2, 0']

In [261]:
def convert_string_to_int(value):
    if pd.isna(value):
        return 0
    numbers = value.split(',')
    return sum(int(number.strip()) for number in numbers)

In [262]:
traffic_signals["PP_QUANTITY"] = traffic_signals["PP_QUANTITY"].apply(convert_string_to_int)

unique_values = traffic_signals["PP_QUANTITY"].unique()
print("Unique values in PP_QUANTITY column:", unique_values)

Unique values in PP_QUANTITY column: [ 0  2  8  4  6  9 10  3 16 12  5 11 14 17  7 18 13 15]

In [263]:
# take look into PH_QUANTITY
unique_values = traffic_signals["PH_QUANTITY"].unique()
print("Unique values in PH_QUANTITY column:", unique_values)

Unique values in PH_QUANTITY column: ['8' '2' '14, 2' '8, 8' '2, 2' nan '16' '6' '4' '14, 1' '15, 1' '12'
 '10, 10' '18, 2' '10, 2' '6, 6' '6, 6, 6' '13, 2' '7, 1' '19, 4, 1'
 '9, 2, 1' '11, 2, 3' '11, 5' '14' '24' '12, 2, 2' '8, 4, 4' '13, 3'
 '10, 1, 1' '8, 4' '20' '10' '9, 7' '4, 2' '25, 3' '6, 8, 2' '8, 2, 10'
 '12, 12' '8, 0' '15' '13, 1' '3, 1' '4, 4' '6, 2' '7, 8, 1' '11, 1'
 '18, 6' '14, 1, 1' '4, 12' '12, 4' '6, 1, 1' '10, 6' '17, 4' '3, 4, 1'
 '9, 5, 2' '8, 8, 8' '1, 2' '5, 3' '7, 5' '9, 3' '5' '4, 4, 4' '8, 5, 3']

In [264]:
traffic_signals["PH_QUANTITY"] = traffic_signals["PH_QUANTITY"].apply(convert_string_to_int)

unique_values = traffic_signals["PH_QUANTITY"].unique()
print("Unique values in PH_QUANTITY column:", unique_values)

Unique values in PH_QUANTITY column: [ 8  2 16  4  0  6 15 12 20 18 24 14 10 28 21  3  5]

In [265]:
# take look at the cleaned traffic_signals
print("Total Rows:",len(traffic_signals))
for column in traffic_signals.columns:
    print(column, "Rows:", len(traffic_signals[column].dropna()), "NAs:", len(traffic_signals[column])-len(traffic_signals[column].dropna()))

Total Rows: 1134
UNITDESC Rows: 1134 NAs: 0
SIGNAL_TYPE Rows: 1134 NAs: 0
COMPTYPE Rows: 1134 NAs: 0
CONDITION Rows: 1134 NAs: 0
ARTERIAL_CLASS Rows: 1134 NAs: 0
INT_SIGNAL_TYPE_CD Rows: 1134 NAs: 0
PEDSIGNALYN Rows: 1134 NAs: 0
PEDAUDIODEVICEYN Rows: 1134 NAs: 0
PP_QUANTITY Rows: 1134 NAs: 0
PH_QUANTITY Rows: 1134 NAs: 0
BIKESIGNALHDYN Rows: 1134 NAs: 0
LTTURNSIGNALYN Rows: 1134 NAs: 0
RTTURNSIGNALYN Rows: 1134 NAs: 0
DETDEVSTOPBARYN Rows: 1134 NAs: 0
DETDEVADVANCEDYN Rows: 1134 NAs: 0
DETDEVSYSTEMYN Rows: 1134 NAs: 0
NUM_ATTACHMENTS Rows: 1134 NAs: 0

#### poles

In [19]:
poles = copy.deepcopy(poles_raw)

poles = poles[["X","Y","HEIGHT","STREETLIGHT"]]

poles.head(3)

            X          Y  HEIGHT STREETLIGHT
0 -122.358591  47.628758      19         YES
1 -122.359814  47.632261      35          NO
2 -122.363536  47.626674      35          NO

In [20]:
# take look at the cleaned poles
print("Total Rows:",len(poles))
for column in poles.columns:
    print(column, "Rows:", len(poles[column].dropna()), "NAs:", len(poles[column])-len(poles[column].dropna()))

Total Rows: 112427
X Rows: 112427 NAs: 0
Y Rows: 112427 NAs: 0
HEIGHT Rows: 112427 NAs: 0
STREETLIGHT Rows: 112427 NAs: 0

#### streets

In [6]:
streets = copy.deepcopy(streets_raw)

streets = streets[["UNITDESC","STNAME_ORD","XSTRLO","XSTRHI","ARTCLASS","SPEEDLIMIT","SURFACETYPE_1","SURFACETYPE_2",
                   "PVMTCONDINDX1","PVMTCONDINDX2","TRANCLASS","SLOPE_PCT","SHAPE_Length"]]

#SURFACETYPE_1: Primary pavement used on Street surface
#SURFACETYPE_2: Secondary pavement used on Street surface
#NATIONHWYSYS: Whether the street is part of the National Highway System (Y/N)
#PVMTCONDINDX1: Primary pavement condition, out of 100
#PVMTCONDINDX2: Secondary pavement condition, out of 100
#TRANCLASS: Street transit classification
#SLOPE_PCT: Street grade in slope percentage
#SHAPE_Length: ESRI field that stores information about the length of a feature in GIS 
streets.head(5)

,UNITDESC,STNAME_ORD,XSTRLO,XSTRHI,ARTCLASS,SPEEDLIMIT,SURFACETYPE_1,SURFACETYPE_2,PVMTCONDINDX1,PVMTCONDINDX2,TRANCLASS,SLOPE_PCT,SHAPE_Length
0,1ST AVE BETWEEN SENECA ST AND UNIVERSITY ST,1ST AVE,SENECA ST,UNIVERSITY ST,2.0,25.0,PCC,AC/PCC,87.0,62.0,1,4.0,305.966050
1,1ST AVE BETWEEN PIKE ST AND PINE ST,1ST AVE,PIKE ST,PINE ST,2.0,25.0,AC/PCC,PCC,57.0,58.0,1,5.0,426.031562
2,1ST AVE N BETWEEN VALLEY UPPER ST AND ALOHA ST,1ST AVE N,VALLEY UPPER ST,ALOHA ST,0.0,20.0,PCC,NaN,0.0,0.0,0,17.0,297.147592
3,1ST AVE N BETWEEN LYNN ST AND MCGRAW S ST,1ST AVE N,LYNN ST,MCGRAW S ST,0.0,20.0,AC,NaN,9.0,0.0,0,3.0,174.804983
4,1ST AVE N BETWEEN FULTON S ST AND FULTON N ST,1ST AVE N,FULTON S ST,FULTON N ST,0.0,20.0,PCC,NaN,0.0,0.0,0,5.0,73.110708

In [7]:
# take look at the streets
print("Total Rows:",len(streets))
for column in streets.columns:
    print(column, "Rows:", len(streets[column].dropna()), "NAs:", len(streets[column])-len(streets[column].dropna()))

Total Rows: 23853
UNITDESC Rows: 23848 NAs: 5
STNAME_ORD Rows: 23853 NAs: 0
XSTRLO Rows: 23848 NAs: 5
XSTRHI Rows: 23848 NAs: 5
ARTCLASS Rows: 23848 NAs: 5
SPEEDLIMIT Rows: 23837 NAs: 16
SURFACETYPE_1 Rows: 22586 NAs: 1267
SURFACETYPE_2 Rows: 682 NAs: 23171
PVMTCONDINDX1 Rows: 23848 NAs: 5
PVMTCONDINDX2 Rows: 23848 NAs: 5
TRANCLASS Rows: 23853 NAs: 0
SLOPE_PCT Rows: 23757 NAs: 96
SHAPE_Length Rows: 23853 NAs: 0

In [8]:
#Need UNITDESC to join, so delete rows do not have this
streets.dropna(subset=["UNITDESC"], inplace=True)

In [9]:
# take look at the streets
print("Total Rows:",len(streets))
for column in streets.columns:
    print(column, "Rows:", len(streets[column].dropna()), "NAs:", len(streets[column])-len(streets[column].dropna()))

Total Rows: 23848
UNITDESC Rows: 23848 NAs: 0
STNAME_ORD Rows: 23848 NAs: 0
XSTRLO Rows: 23848 NAs: 0
XSTRHI Rows: 23848 NAs: 0
ARTCLASS Rows: 23848 NAs: 0
SPEEDLIMIT Rows: 23837 NAs: 11
SURFACETYPE_1 Rows: 22586 NAs: 1262
SURFACETYPE_2 Rows: 682 NAs: 23166
PVMTCONDINDX1 Rows: 23848 NAs: 0
PVMTCONDINDX2 Rows: 23848 NAs: 0
TRANCLASS Rows: 23848 NAs: 0
SLOPE_PCT Rows: 23752 NAs: 96
SHAPE_Length Rows: 23848 NAs: 0

In [10]:
# take look into SPEEDLIMIT
unique_values = streets["SPEEDLIMIT"].unique()
print("Unique values in SPEEDLIMIT column:", unique_values)

Unique values in SPEEDLIMIT column: [25. 20. 30. 60. 40. 35. 50.  0. nan 45. 55.]

In [11]:
# drop all roads with SPEEDLIMIT == 0 and nan
streets = streets[(streets["SPEEDLIMIT"] != 0) & (streets["SPEEDLIMIT"].notna())]

In [12]:
# take look at the streets
print("Total Rows:",len(streets))
for column in streets.columns:
    print(column, "Rows:", len(streets[column].dropna()), "NAs:", len(streets[column])-len(streets[column].dropna()))

Total Rows: 23743
UNITDESC Rows: 23743 NAs: 0
STNAME_ORD Rows: 23743 NAs: 0
XSTRLO Rows: 23743 NAs: 0
XSTRHI Rows: 23743 NAs: 0
ARTCLASS Rows: 23743 NAs: 0
SPEEDLIMIT Rows: 23743 NAs: 0
SURFACETYPE_1 Rows: 22583 NAs: 1160
SURFACETYPE_2 Rows: 682 NAs: 23061
PVMTCONDINDX1 Rows: 23743 NAs: 0
PVMTCONDINDX2 Rows: 23743 NAs: 0
TRANCLASS Rows: 23743 NAs: 0
SLOPE_PCT Rows: 23721 NAs: 22
SHAPE_Length Rows: 23743 NAs: 0

In [13]:
# look into SURFACETYPE_1
unique_values = streets["SURFACETYPE_1"].unique()
print("Unique values in SURFACETYPE_1 column:", unique_values)

Unique values in SURFACETYPE_1 column: ['PCC' 'AC/PCC' 'AC' 'ST' 'AC/AC' nan 'GRAVEL']

In [14]:
# replace nan with "unknown"
streets["SURFACETYPE_1"].fillna("unknown", inplace=True)
# drop the colunm of SURFACETYPE_2 since low volunm
streets.drop("SURFACETYPE_2", axis=1, inplace=True)

unique_values = streets["SURFACETYPE_1"].unique()
print("Unique values in SURFACETYPE_1 column:", unique_values)

Unique values in SURFACETYPE_1 column: ['PCC' 'AC/PCC' 'AC' 'ST' 'AC/AC' 'unknown' 'GRAVEL']

In [15]:
# look into SLOPE_PCT
unique_values = streets["SLOPE_PCT"].unique()
print("Unique values in SLOPE_PCT column:", unique_values)

Unique values in SLOPE_PCT column: [ 4.  5. 17.  3.  2.  0.  1.  6. 10.  7.  8.  9. 13. 11. 15. 14. 12. 16.
 24. 18. 21. 19. 20. 22. nan 25. 32. 23. 35. 33. 27. 38. 34. 47. 29.]

In [16]:
#just drop the nan slopes
streets.dropna(subset=["SLOPE_PCT"], inplace=True)

In [17]:
# take look at the streets
print("Total Rows:",len(streets))
for column in streets.columns:
    print(column, "Rows:", len(streets[column].dropna()), "NAs:", len(streets[column])-len(streets[column].dropna()))

Total Rows: 23721
UNITDESC Rows: 23721 NAs: 0
STNAME_ORD Rows: 23721 NAs: 0
XSTRLO Rows: 23721 NAs: 0
XSTRHI Rows: 23721 NAs: 0
ARTCLASS Rows: 23721 NAs: 0
SPEEDLIMIT Rows: 23721 NAs: 0
SURFACETYPE_1 Rows: 23721 NAs: 0
PVMTCONDINDX1 Rows: 23721 NAs: 0
PVMTCONDINDX2 Rows: 23721 NAs: 0
TRANCLASS Rows: 23721 NAs: 0
SLOPE_PCT Rows: 23721 NAs: 0
SHAPE_Length Rows: 23721 NAs: 0

### Clean stree signs

In [ ]:
# for collisions
# Select useful columns
signs = copy.deepcopy(signs_raw)
signs = collisions[["X", "Y","ADDRTYPE","COLLISIONTYPE","SEVERITYCODE",
                         "LIGHTCOND","ROADCOND",
                         "SPEEDING","UNDERINFL","INATTENTIONIND"]]
collisions.head(3)

In [18]:
streets.to_csv("CleanedData/streets_cleaned.csv")

In [21]:
poles.to_csv("CleanedData/poles_cleaned.csv")

In [ ]:
collisions.to_csv("CleanedData/collisions_cleaned.csv.csv")

In [ ]:
traffic_signals.to_csv("CleanedData/traffic_signals_cleaned.csv")

In [ ]:
intersections.to_csv("CleanedData/intersections_cleaned.csv")

In [ ]:
signs.to_csv("CleanedData/signs_cleaned.csv")